container_commands:   01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: static/application.py
    - option_name: AWS_SECRET_KEY
      value: d9X57utLrUDcURddYtBfuy4pXpMzWvF5p0m1eAbu
    - option_name: AWS_ACCESS_KEY_ID
      value: AKIAIWFIHQ3GKQKUTWQA
